h2{
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 36px;
  color: #000000;
  padding: 80px 0px 50px 0px;
}

#resultados-de-sorteios {
  h2{
    padding: 80px 0px 0px 0px;
  }

  p.dateTime{
    text-align: center;
    padding: 0px 0px 50px 0px;
    font-size: 20px;
  }

  .pesquisar{
    text-align: center;

    p{
      line-height: normal;
      font-size: 18px;
    }

    a.btn{
      background: #ed1c24;
      border-radius: 3px;
      font-weight: bold;
      line-height: normal;
      font-size: 16px;
      text-align: center;
      color: #FFFFFF;
      width: auto;
      padding: 15px 50px 15px 50px;
      transition: ease all 0.3s;

      &:hover {
        background: rgba(205, 27, 33, 1);
        padding: 15px 55px 15px 55px;
        text-decoration: none;
      }
    }

    .form-pesquisar{
      margin: 50px auto 20px auto;
      max-width: 770px;
      width: 100%;

      .campo-pesquisar{
        display: inline-block;
        border: 1px solid rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        border-radius: 3px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        max-width: 600px;
        width: 75%;
        text-align: center;
        position: relative;

          i{
            color: #000000;
            opacity: 0.25;
            font-weight: bold;
            display: inline-block;
            padding: .7rem;
            position:absolute;
            top: 0px;
            left: 0px;
          }

          input {
            display: inline-block;
            border: none;
            padding: .375rem .75rem .375rem 2.5rem;
            width: 100%;
            color: #000000;
            opacity: 0.25;
          }

      }

      .btnPesquisar{
        display: inline-block;
        font-size: 16px;
        color: #FFFFFF;
        background: #ED1C24;
        border-radius: 3px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        vertical-align: top;
        width: 150px;
        margin-left: 15px;
        transition: ease all 0.3s;

        &:hover {
          background: rgba(205, 27, 33, 1);
          text-decoration: none;
        }

      }

    }
  }

  .resultados {
    .numeros {
      background: #FFFFFF;
      border: 3px solid #FFFFFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), inset 4px 4px 12px rgba(0, 0, 0, 0.1);
      padding: 14px 0px 14px 0px;
      margin: 15px 18px 15px 18px;
      font-weight: bold;
      line-height: normal;
      font-size: 28px;
      text-align: center;
      color: #000000;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 70px;
      height: auto;
      display: inline-block;
      text-align: center;

      &.selecionado {
        border: 3px solid #E5C222;
      }

    }
  }
}

#vencedores {
  margin-bottom: 65px;

  .resultado {
    width: calc(100% / 2 - 30px);
    display: inline-block;
    text-align: center;
    padding: 25px 20px 25px 20px;
    margin: 0px 7.5px 0px 7.5px;

    .titulo {
      font-weight: bold;
      line-height: 26px;
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #000000;
    }

    .texto {
      font-weight: normal;
      line-height: 26px;
      font-size: 16px;
      text-align: center;
      color: #000000;
    }
  }
}

#proximos-sorteios{
  background-color: #F14F58;
  padding-bottom: 80px;

  .sorteio{
    background-color: #FFFFFF;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    .titulo{
      margin-top: 15px;
      font-weight: bold;
      line-height: 26px;
      font-size: 13px;
      letter-spacing: 2px;
      color: #ED1C24;
      text-transform: uppercase;
    }

    .texto{
      font-weight: bold;
      line-height: normal;
      font-size: 18px;
      color: #000000;

      span:first-child:after{
        content: " - ";
      }
    }

    .etiqueta{
      width: 130px;
      height: auto;
      text-align: center;
      padding: 16px 10px 16px 30px;
      margin-top: 15px;
      color: #FFF;
      font-weight: bold;
      line-height: normal;
      font-size: 18px;
    }

    .etiqueta-azul{
      background: url('../../images/layout/etiqueta-azul.png') no-repeat;
    }

    .etiqueta-laranja{
      background: url('../../images/layout/etiqueta-laranja.png') no-repeat;
    }

    .etiqueta-verde{
      background: url('../../images/layout/etiqueta-verde.png') no-repeat;
    }
  }
}

#duvidas-frequentes{
  padding-bottom: 80px;

  .container{

    #accordion{
      max-width: 770px;
      margin: 0px auto;

      .card{
        border: 1px solid rgba(0, 0, 0, 0.15);
        background-color: #FFFFFF;
        margin-bottom: 8px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 9px 10px 0px;

        .card-header{
          background-color: #FFFFFF;
          border: none;
          background-image: url('../../images/layout/seta-abrir.png');
          background-repeat: no-repeat;
          background-position: 98% 50%;

          h5{

            button{
              font-weight: bold;
              line-height: normal;
              font-size: 18px;
              color: #F14F58;
              -webkit-transition: ease all 0.3s; /* Safari */
              transition: ease all 0.3s;
              text-decoration: none;

              &:hover, .collapsed:hover{
                text-decoration: none;
                color: #F14F58 !important;
              }

              &.collapsed {
                color: #000000;
              }
            }

          }

        }

        .collapse, .collapsing, .collapse.show{

          .card-body{
            background-color: #f6f6f6;

          }

        }

      }

    }

  }

}

#pontos-credenciados{
  padding-bottom: 50px;
  background-image: url("../../images/layout/bg-bolas.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .container{
    h2{
      padding: 80px 0px 0px 0px;
    }

    .subtitulo{
      font-weight: normal;
      line-height: normal;
      font-size: 18px;
      text-align: center;
      color: #FFFFFF;
      opacity: 0.75;
      margin-bottom: 50px;
    }

    .row{

      .col{
        max-width: 380px;

        .ponto {
          margin-bottom: 30px;
          display: inline-block;

          i {
            line-height: normal;
            font-size: 24px;
            text-align: center;
            color: #FFFFFF;
            float: left;
            padding-top: 7px;
          }

          .titulo {
            width: calc(100% - 40px);
            text-align: left;
            font-weight: bold;
            line-height: normal;
            font-size: 18px;
            color: #FFFFFF;
            float: right;
          }

          .localidade {
            width: calc(100% - 40px);
            text-align: left;
            font-weight: bold;
            line-height: normal;
            font-size: 14px;
            color: #FFFFFF;
            float: right;
          }

          .endereco {
            width: calc(100% - 40px);
            text-align: left;
            font-weight: bold;
            line-height: normal;
            font-size: 14px;
            color: #FFFFFF;
            float: right;
            opacity: 0.5;
          }

        }

      }
    }
  }
}


#seja-credenciado{
  padding-bottom: 80px;

  .container{
    .row{
      .col{
        img{
          margin: 0px 0px 30px 0px;
          max-width: 451px;
          width: 100%;
          height: auto;
        }

        button {
          background: rgba(237, 28, 36, 1);
          border-radius: 3px;
          font-weight: bold;
          line-height: normal;
          font-size: 16px;
          text-align: center;
          color: #FFFFFF;
          width: auto;
          padding: 15px 50px 15px 50px;
          -webkit-transition: ease all 0.3s; /* Safari */
          transition: ease all 0.3s;

          &:hover {
            background: rgba(205, 27, 33, 1);
            padding: 15px 55px 15px 55px;
            text-decoration: none;
          }

        }

      }

    }

  }

}


@media screen and (max-width: 1024px){
  .resultados .numeros{
    margin: 15px 14px 15px 14px;
  }
}

@media screen and (max-width: 1024px){
  .resultados .numeros{
    margin: 12px 12px 12px 12px;
  }

  .sorteio .colLogo{
    display: none;
  }

  #vencedores .resultado{
    width: 100%;
    margin: 0px 0px 15px 0px;
  }

  #contato .row .col-4{
    max-width: 50%;
    flex: 0 0 50%;
  }

  #contato .row .col{
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px){
  #resultados-de-sorteios .pesquisar .form-pesquisar .campo-pesquisar{
    width: 100%;
  }

  #resultados-de-sorteios .pesquisar .form-pesquisar .btnPesquisar {
    margin: 20px 0px 0px 0px;
  }
}

@media screen and (max-width: 600px){
  h2{
    font-size: 34px;
  }

  .sorteio .colLogo{
    display: block;
  }

  .sorteio .colLogo, .sorteio .colData, .sorteio .colHorario, .sorteio .colPremiacoes, .sorteio .colEtiqueta{
    max-width: 100%;
    flex: 0 0 100%;
    text-align: center;
  }

  #proximos-sorteios .sorteio .etiqueta {
    margin-right: auto;
    margin-left: auto;
  }

  #duvidas-frequentes .container #accordion .card .card-header h5 button{
    white-space: normal;
    text-align: left;
  }

  #pontos-credenciados{
    background-image: none;
  }

  #pontos-credenciados .container .row .col{
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }

  #pontos-credenciados .container .row .col .ponto .titulo,
  #pontos-credenciados .container .row .col .ponto .endereco,
  #pontos-credenciados .container .row .col .ponto .localidade{

  }

  #contato .row > div{
    max-width: 100% !important;
    flex: 0 0 100% !important;
    text-align: center !important;
    margin-top: 0px !important;
    margin-bottom: 15px !important;
  }

  footer .container .row .texto p {
    max-width: 100%;
  }

  footer .container .copyright {
    padding-top: 40px !important;
  }
}

@media screen and (max-width: 480px){
  .resultados .numeros {
    margin: 8px;
  }

  #proximos-sorteios .sorteio{
    width: 90%;
  }
}

@media screen and (max-width: 360px){
  .resultados .numeros{
    margin: 4px;
  }

  #proximos-sorteios .sorteio .texto span{
    display: block;
  }

  #proximos-sorteios .sorteio .texto span:first-child:after{
    content: "";
  }
}

@media screen and (max-width: 320px){
  h2{
    font-size: 30px;
  }

  #resultados-de-sorteios .resultados .numeros{
    margin: 12px;
  }
}

