body{
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  min-height: 1000px;
  padding-top: 169px;
}

.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}

.bg-amarelo {
  background-color: #F0D97F;
}

.bg-azul {
  background-color: #73B4FF;
}

.bg-vermelho{
  background-color: #F14F58;
}

.bg-laranja{
  background-color: #F29D4B;
}

.bg-verde{
  background-color: #5CA978;
}

.txt-amarelo {
  color: #F0D97F;
}

.txt-azul {
  color: #73B4FF;
}

.txt-vermelho{
  color: #F14F58;
}

.txt-branco{
  color: #FFFFFF;
}